<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>@Notification</title>
</head>
<body>
	<p th:text="'Hi '+${user.name}+','"></p>
	<p
		th:text="'This is to inform you that Mr '+${name}+' has been added you successfully in our portal with Moderator access' "></p>
	<p>Your temporary password was default i.e moderator its (case
		sensitive) kindly request you to update it asap</p>
	<p>We would like to Thank you to keep help us to find better
		candidates as per profile match</p>
	<br />
	<p>Your account will be activate within 24 hours.</p>
</body>
</html>